<nav>
  <div class="nav-wrapper green darken-2">
    <a href="/" class="brand-logo center">
      <img src="/images/logo.png" alt="Plant logo" style="height: 40px; vertical-align: middle;"> Propagation Station
    </a>
  </div>
</nav>