<!--views/plants/new.ejs-->
<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
      <%= title %>
    </title>
    <%- include('../partials/head') %>
  </head>

  <body>
    <%- include('../partials/nav') %>
      <div class="container center-align" id="bottomMargin">
        <h1 class="center-align">Add a New Plant</h1>

        <form action="/plants" method="POST" enctype="multipart/form-data class=" col s12">
          <div class="row">
            <div class="input-field col s12">
              <input type="text" name="name" id="name" required>
              <label for="name">Plant Name</label>
            </div>
          </div>

          <div class="row">
            <div class="input-field col s12">
              <input type="text" name="propagation" id="propagation" required>
              <label for="propagation">Propagation</label>
            </div>
          </div>

          <div class="row">
            <div class="input-field col s12">
              <input type="text" name="watering" id="watering" required>
              <label for="watering">Watering</label>
            </div>
          </div>

          <div class="row">
            <div class="input-field col s12">
              <input type="text" name="lighting" id="lighting" required>
              <label for="lighting">Lighting</label>
            </div>
          </div>

          <div class="row">
            <div class="input-field col s12">
              <input type="text" name="soil" id="soil" required>
              <label for="soil">Soil</label>
            </div>
          </div>

          <div class="row">
            <div class="input-field col s12">
              <input type="text" name="care" id="care" required>
              <label for="care">Care</label>
            </div>
          </div>
      
          <div class="row left-align">
            <div class="input-field">
              <label for="coverImage">Image URL:</label>
              <input type="url" name="coverImage" id="coverImage" placeholder="https://example.com/image.jpg">
            </div>
          </div>

          <div class="row center-align">
            <button class="btn wave-affect waves-ligth teal">Submit</button>
            <a href="/plants" class="btn waves-effect light-green lighten-3">Back</a>
          </div>
        </form>
      </div>
  </body>

</html>